<div ng-if="!userInfoCtrl.signUpDone">
  <div class="container">
    <label>Sorry, you need to <a ui-sref="public.signup" style="text-decoration: none">sign up</a> first.</label>
  </div>
</div>



<div ng-if="userInfoCtrl.signUpDone">
  <div class="container">

    <div class="">
      <!-- <label>First Name: </label> -->
      <h3> Welcome! <div style="color: #557c3e; margin: 1.5rem 0;">{{ userInfoCtrl.userinfo.firstname }} {{ userInfoCtrl.userinfo.lastname }}</div> </h3>
    </div>

    <!-- <div class="">
      <label>Last Name: </label>
      <span></span>
    </div> -->

    <div class="">
      <label>Email: </label>
      <span>{{ userInfoCtrl.userinfo.email }}</span>
    </div>

    <div class="">
      <label>Phone: </label>
      <span>{{ userInfoCtrl.userinfo.phone }}</span>
    </div>

    <div class="">
      <label for="">Your Favorite Dish</label>
      <div class="">
        <img class="" ng-src="{{userInfoCtrl.apiPath}}/images/{{userInfoCtrl.favItem.short_name}}.jpg" alt="{{userInfoCtrl.favItem.name}}">
      </div>
      <div class="">
        <label for="">{{ userInfoCtrl.favItem.name }}<label>
      </div>
      <div class="">
        <p for="">{{ userInfoCtrl.favItem.description }}</p>
      </div>

    </div>


  </div>
</div>
