<!DOCTYPE html>
<html ng-app="myFirstApp">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>My first AngularJS App</title>
  </head>
  <body>
    <h1>Playground</h1>
    <div ng-controller="MyFirstController">
      <button type="button" ng-click="showWatchers()">Click</button>
      <div class="">
        <button type="button" ng-click="countOnce()">Click to Count Once</button>
      </div>
    </div>
  </body>
</html>
